<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sinatra App</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
  </head>
  <body ng-controller="MyCtrl">
  <div>
      <p>Hello World!</p>
      <%= yield %>
    </div>
    </body>
</html>
