<div id="new-status">
<h2>New monolog</h2>
<form action="">
    <textarea></textarea>
    <br>
        <input type="submit" value="Post"/>

</form>
<div id="statuses">
    <h2>Monologs</h2>
    <ul></ul>
</div>


